*,
*::before,
*::after{
	box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 22.4px;
	color: #E1E1E6;

}	
a{
  text-decoration: none;
  color:inherit;
}
li{
  list-style-type: none;
}
.container{
	margin: 0 auto;
	max-width: 1388px;
	padding: 0 10px;
}
.header{
	margin: 0 auto;
	max-width: 1368px;
	background-color: #00111A;
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 136px;
	padding: 0 35px;
}
.menu__list{
	display: flex;
	justify-content: space-between;
	align-self: center;
}
.menu__btn{
	display: none;
	position: relative;
	z-index: 5;
	align-items: center;
	justify-content: flex-end;
	width: 30px;
	height: 18px;
}
.menu__btn span{
	height: 2px;
	width: 100%;
	transform: scale(1);
	background-color: #E1E1E6;
}
.menu__btn::before, .menu__btn::after{
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #E1E1E6;
	transition: all 0.3s ease 0s;
}
.menu__btn::before{
	top: 0;
}
.menu__btn::after{
	bottom: 0;
}
.menu__btn.menu__btn--active span{
	transform: scale(0);
}
.menu__btn.menu__btn--active::before{
	top: 50%;
	transform: rotate(-45deg) translate(0, -50%);
}
.menu__btn.menu__btn--active::after{
	bottom: 50%;
	transform: rotate(45deg) translate(0, 50%);
}
.menu__list-link{
	font-size: 24px;
	transition: all .3s;
}
.menu__list-link:hover{
	color: #750310;
}
.menu__list-item + .menu__list-item{
	margin-left: 40px;
}
.intro {
	margin: 0 auto;
	max-width: 1368px;
	padding: 0 10px;
	padding-top: 147px;
	background-color: #000;
	padding-bottom: 47px;
}
.intro__inner {
	height: 260px;
	position: relative;
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 10px;
	background: linear-gradient(180deg, #091E26 0%, #00131C 100%);
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.intro__img{
	top: -68px;
	left: 0px;
	position: relative;
}
.intro-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 56px;
	margin-bottom: 10px;
}
.intro-desc {
	max-width: 390px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
.food {
	margin: 0 auto;
	max-width: 1368px;
	padding: 0 10px;
	background-color: #000;
}
.food__inner {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 10px;
}
.food-title {
	font-weight: 500;
	font-size: 32px;
	line-height: 44.8px;
	margin-bottom: 23px;
}
.food__slider{
	display: flex;
	justify-content: space-between;
	padding-bottom: 46px;
}
.food__slider-item {
	width: 305px;
}
.slider-item-img {
	margin-bottom: 15px;
	padding-top: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 176px;
}
.slider-item-title {
	font-size: 24px;
	line-height: 33.6px;
	font-weight: 700;
	transition: all .3s;
	margin-bottom: 15px;
	text-align: center;
}
.slider-links-center{
	display: flex;
	justify-content: center;
}
.slider-item-title:hover{
	color: #750310;
}
.slider-item-desc {
	font-size: 14px;
	line-height: 22.4px;
	color: #C4C4CC;
	margin-bottom: 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}
.slider-item-text{
	width: 256px;
}
.slider-item-price {
	font-size: 32px;
	line-height: 51.2px;
	color: #82F3FF;
	margin-bottom: 15px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.slider-item-btn{
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	background-color: #750310;
	border-radius: 5px;
	padding: 12px 24px;
	display: inline-block;
	margin-bottom: 24px;
	transition: all .3s;
}
.slider-item-btn:hover{
	background-color: #47080f;
}

.slick-prev,
.slick-next{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    left: 40px;
}
.slick-prev{
    top: 0;
}
.slick-next{
    bottom: 0;
}

.review {
	margin: 0 auto;
	max-width: 1368px;
	padding: 0 10px;
	background-color: #000;
	padding-bottom: 200px;
}
.review__inner {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 10px;
	
}
.review__item {
	background: linear-gradient(180deg, #091E26 0%, #00131C 100%);
	border-radius: 8px;
	padding: 25px;
	height: 120px;
	transition: all 0.5s;
	margin-bottom: 60px;
}
.review__item--active{
	height: 200px;
}
.review-title {
	font-size: 40px;
	line-height: 56px;
	font-weight: 500;
	background-color:transparent;
	border: none;
	color: #E1E1E6;
	cursor: pointer;
	transition: all 0.3s;
	padding: 0;
	margin-bottom: 25px;
}
.review-title:hover{
	color: #750310;
}
.review-text {
	display: none;
	transition: all 0.3s;
	font-size: 20px;
	line-height: 22px;
}
.review-text--active{
	display: block;
}

.resp__item {
	background: linear-gradient(180deg, #091E26 0%, #00131C 100%);
	border-radius: 8px;
	padding: 25px;
	height: 120px;
	transition: all 0.5s;
}
.resp__item--active{
	height: 200px;
}
.resp-title {
	font-size: 40px;
	line-height: 56px;
	font-weight: 500;
	background-color:transparent;
	border: none;
	color: #E1E1E6;
	cursor: pointer;
	transition: all 0.3s;
	padding: 0;
	margin-bottom: 25px;
}
.resp-title:hover{
	color: #750310;
}
.resp-text {
	display: none;
	transition: all 0.3s;
	font-size: 20px;
	line-height: 22px;
}
.resp-text--active{
	display: block;
}
.footer{
	margin: 0 auto;
	max-width: 1368px;
	padding: 0 10px;
	background-color: #000;
}
.footer__inner {
	margin: 0 auto;
	max-width: 1328px;
	padding: 0 10px;
	background-color: #00111A;
	justify-content: space-between;
	display: flex;
	align-items: center;
	height: 77px;
	padding: 0 123px;
}
.footer-links {
	display: flex;
}
.footer-logo {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 28px;
	color: #4D585E;
	font-weight: 700;
	transition: all .3s;
}
.footer-logo:hover{
	color: #750310;
}
.footer-phone {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 32px;
	font-weight: 700;
	color: #70797f;
	transition: all .3s;
	margin-left: 35px;
}
.footer-phone:hover{
	color: #750310;
}
.footer-right {
	color: #FFFAF1;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}

.main {
	margin: 0 auto;
	max-width: 1368px;
	padding: 0 10px;
	background-color: #000;
	font-family: 'Poppins', sans-serif;
}
.main__inner {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 10px;
	padding-bottom: 155px;
}
.main-back {
	font-weight: 700px;
	font-size: 24px;
	line-height: 33.6px;
	transition: all 0.3s;
	cursor: pointer;
}
.main-back:hover{
	color:#750310;
}
.main__content {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-img {
	margin-right: 48px;
}
.main-img img{
	width: 300px;
}
.main-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 56px;
	margin-bottom: 24px;
}
.main-desc {
	font-weight: 400;
	font-size: 24px;
	line-height: 33.6px;	
	margin-bottom: 24px;
	
}
.main__list {
	display: flex;
	align-items: center;
	margin-bottom: 48px;
	flex-wrap: wrap;
}
.main__list-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	padding: 4px 8px;
	background: #192227;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 10px;
}

.main-btn {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	padding: 12px 24px;
	background-color: #750310;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
	color: #FFF;
}
.main-btn:hover{
	background-color: #47080f;
}
.food-header{
	padding-bottom: 40px;
}

.account {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	max-width: 1388px;
	padding: 0 10px;
	background-color: #000;
}
.auth-reg{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.account__inner{
	display: flex;
	justify-content: space-around;
	background-color: #000;
	align-items: center;
	padding: 80px;
}
.auth-form {
	width: 100%;
	max-width: 476px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	padding: 64px;
	background: #001119;
	border-radius: 16px;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 50;
	transition: all 5s;
	display: none;
	animation: burgerAnimation 0.4s;
	
}
.account-title {
	font-weight: 500;
	font-size: 32px;
	line-height: 44.8px;
	margin-bottom: 32px;
	text-align: center;
}

.account-desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 8px;
	color: #C4C4CC;
}
.reg-input {
	width: 100%;
	padding: 14px 16px;
	height: 48px;
	background: #0D1D25;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 32px;
	color: #7C7C8A;
	font-family: 'Roboto', sans-serif;

}
.reg-input::placeholder{
	font-size: 16px;
	line-height: 16px;
	color: #7C7C8A;
	
}
.reg-btn {
	margin-bottom: 32px;
	display: flex;
	justify-content: center;
}
.reg-sumbit{
	padding: 12px 10px;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	background: #750310;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
	width: 100%;
}
.reg-sumbit:hover{
	background-color: #47080f;
}
.reg-sign-link{
	display: flex;
	justify-content: center;
}
.reg-sign-link a{
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	transition: all 0.3s;
}
.reg-sign-link a:hover{
	color: #750310;
}
.auth-sumbit{
	padding: 12px 151px;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	background: #750310;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
.auth-sumbit:hover{
	background-color: #47080f;
}
.popup{
	position: absolute;
	width: 490px;
	height: 325px;
	background-color: #0D1D25;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 15px;
	transition: all 5s;
	display: none;
	animation: burgerAnimation 0.4s;
}
.popup-wrapper{
	display: flex;
	justify-content: center;
}
.popup-form {
	padding: 15px;
}
.popup-title {
	text-align: center;
	margin-top: 25px;
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 25px;
}
.popup-input{
	max-width: 370px;
	width: 100%;
	padding: 14px 16px;
	height: 48px;
	background: #0D1D25;
	border: 1px #fff solid;
	border-radius: 8px;
	font-size: 16px;
	line-height: 16px;
	color: #7C7C8A;
}
.popup-address {
	margin-bottom: 15px;
}
.popup-card{
	margin-bottom: 25px;
}
.popup-btn{
	display: flex;
	justify-content: center;
}
.popup-submit {
	padding: 12px 151px;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	background: #750310;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
.popup-submit:hover{
	background-color: #47080f;
}
.popup-close-btn{
	position: absolute;
	top: 25px;
	right: 35px;
	background-color: inherit;
	border: none;
}
.popup-close-btn::before, .popup-close-btn::after{
	content: "";
	position: absolute;
	width: 24px;
	height: 4px;
	background: #750310;
	cursor: pointer;
	border: none;
}
.popup-close-btn::before{
	transform: rotate(45deg);
}
.popup-close-btn::after{
	transform: rotate(-45deg);
}
.popup-visible{
	display: block;
}
.reg-account{
	cursor: pointer;
}
.reg-account--active{
	display: block;
}
/* adaptive*/
@media(max-width: 1100px){
	.intro__img{
		top: -43px;
	}
	.intro__img img{
		max-width: 550px;
		width: 100%;
	}
	.intro__inner{
		z-index: 1;
	}
}
@media(max-width: 1000px){
	.food-title{
		text-align: center;
	}
}
@media(max-width: 900px){
	.intro__img{
		top: -21px;
	}
	.intro-title{
		line-height: 35px;
	}
	.account-logo{
		display: none;
	}
}
@media(max-width: 868px){
	.footer__inner{
		padding: 0 25px;
	}
}
@media(max-width: 730px){
	.menu__btn{
		display: flex;
		cursor: pointer;
	}
	.menu{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.menu__list{
		display: none;
		flex-direction: column;
		left: 0;
		right: 0;
		position: absolute;
		background-color: #00111A;
		top: 120px;
		animation: burgerAnimation 0.4s;
		z-index: 50;
	}
	.menu__list-link{
		text-align: center;
		display: block;	
	}
	.menu__list-item{
		padding: 15px;
	}
	.menu__list-item + .menu__list-item{
		margin-left: 0;
	}
	.menu__list--active{
		display: block;
	}
	.main__content{
		flex-wrap: wrap;
		justify-content: center;
	}
	.main-title{
		text-align: center;
	}
	.main-desc {
		font-size: 19px;
		line-height: 28.6px;
		text-align: center;
	}
	.main-btn-wrapper{
		display: flex;
		justify-content: center;
		padding-bottom: 100px;
	}
	.main{
		padding: 0;
	}
	.main__inner{
		padding: 0;
	}
	.main-img{
		margin-right: 0;
	}
	.main-title{
		font-size: 34px;
		line-height: 40px;
	}
	.main__list{
		justify-content: center;
	}

}
@media(max-width: 688px){
	.footer__inner{
		padding: 0;
	}
}
@media(max-width: 650px){
	.intro__inner{
		flex-wrap: wrap-reverse;
	}
	.intro__img{
		position: static;
	}
	.intro__inner{
		padding-top: 200px;
	}
	.header{
		padding-bottom: 100px;
	}
}
@media(max-width: 630px){
	.slider-item-title{
		font-size: 20px;
		margin-bottom: 6px;
	}
	.slider-item-price {
		font-size: 26px;
		line-height: 30px;
	}
	.slider-item-text{
		font-size: 14px;
	}
}
@media(max-width: 600px){
	.footer__inner{
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer-phone{
		margin: 0 5px;
	}
	.footer-logo{
		margin: 0 5px;
	}
	.header__logo img{
		width: 75%;
	}
	.header__logo{
		width: 50%;
	}
	.header__inner{
		padding: 0;
	}
	.account__inner {
		padding: 10px;
	}
	
	
}
@media(max-width: 580px){
	.header{
		padding-bottom: 0px;
	}
}
@media(max-width: 500px){
	.resp__item{
		padding: 15px;
	}
	.resp-title, .review-title{
		font-size: 34px;
		line-height: 30px;
	}
	.resp-text, .review-text{
		font-size: 18px;
	}
	.review{
		padding-bottom: 100px;
	}
	.intro-title{
		font-size: 32px;
	}
	.intro-desc{
		font-size: 14px;
		line-height: 17px;
	}
	.popup{
		width: 100%;
	}
	.popup-submit{
		padding: 12px 10px;
		width: 100%;
	}
	.auth-form{
		padding: 5px;
	}
	.auth-sumbit{
		padding: 12px 127px;

	}
}
@media(max-width: 400px){
	.footer-phone{
		font-size: 16px;
		line-height: 16px;
	}
	.footer-logo{
		font-size: 19px;
		line-height: 16px;
	}
	.footer-right{
		font-size: 12px;
	}
	.review{
		padding-bottom: 50px;
	}
}
@media(max-width: 340px)
{
	.intro{
		padding-top: 0px;
	}
}
@keyframes burgerAnimation {
	from {opacity: 0;}
	to {opacity: 1;}
}